<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

	<script src="https://code.angularjs.org/1.2.25/angular-animate.js"></script>
	<script src="https://code.angularjs.org/1.2.26/i18n/angular-locale_zh-tw.js"></script>

	<script src="../datetime.js"></script>
	<link rel="stylesheet" href="../datetime.css">
	<link rel="stylesheet" href="https://rawgit.com/eight04/end2end/master/dist/end2end.css">

	<script>
		angular.module("App", ["datetime"]).controller("myDate", function($scope, $filter){
			$scope.myDate = new Date();
		});
	</script>
</head>
<body class="container" ng-controller="myDate">
	<pre><code>myDate Model: {{myDate}}</code></pre>
	<div class="form-group">
		<label for="msql">MySQL Datetime</label>
		<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" class="form-control" id="mysql">
	</div>
	<div class="form-group">
		<label for="fullDate">Full Date</label>
		<input type="text" datetime="fullDate" ng-model="myDate" class="form-control" id="fullDate">
	</div>

</body>
</html>
