{
	"presets": [
		["env", {
			"targets": {
				"browsers": {
					"ie": 8
				}
			},
			"loose": true,
			"modules": false,
			"exclude": ["transform-es2015-function-name"]
		}]
	],
	"plugins": ["external-helpers"]
}
