{
	"env": {
		"browser": true
	},
	"rules": {
		"no-use-before-define": [2, "nofunc"],
		"quotes": [2, "double", "avoid-escape"],
		"angular/timeout-service": 0,
		"semi": [2, "always"],
		"dot-notation": [2, {"allowKeywords": false}]
	},
	"extends": [
		"eslint:recommended",
		"angular"
	]
}
