<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Angular Datetime</title>
	<script src="https://code.angularjs.org/1.2.28/angular.js"></script>

	<script src="https://code.angularjs.org/1.2.25/angular-animate.js"></script>

	<script src="dist/datetime.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/eight04/end2end/master/dist/end2end.css">

	<script>
		angular.module("App", ["datetime"]).controller("myDate", function($scope, datetime, $locale){

			$scope.data = {
				myDate: new Date,
				myDateString: "2000-01-01 00:00:00",
				min: new Date(2010, 0, 1),
				max: new Date(2019, 11, 31)
			};
			
			$scope.formats = function(formats){
				var swap = [], format, code;
				for (format in formats) {
					code = format.charCodeAt(0)
					if (97 <= code && code <= 122) {
						swap.push(format);
					}
				}
				return swap;
			}($locale.DATETIME_FORMATS);

			$scope.reset = function(){
				$scope.data.myDate = new Date;
				$scope.data.myDateString = "2000-01-01 00:00:00";
			}

			$scope.clear = function(){
				$scope.data.myDate = null;
				$scope.data.myDateString = null;
			}
		});
	</script>

	<!--[if lte ie 8]>
	<script src="https://rawgit.com/scottjehl/Respond/master/dest/respond.src.js"></script>
	<![endif]-->
</head>
<body class="container-sm" ng-controller="myDate">
	<h2>Angular Datetime <small>Demo Page</small></h2>
	<p>
		<button class="btn-default" ng-click="reset()">Reset</button>
		<button class="btn-default" ng-click="clear()">Clear</button>
	</p>
	<p>To use the directive, add <code>datetime="date-format"</code> attribute to your input.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.myDate" class="form-control">
	<pre class="code"><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate"&gt;</code></pre>

	<h3>Default value</h3>
	<p>If the field is empty and the input element is focused, the directive will use `default` attribute as its initial value.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.myDate" class="form-control" default="Jan 1, 2000">
	<pre class="code" ng-non-bindable><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" class="form-control" default="Jan 1, 2000"></code></pre>

	<h3>Min / Max</h3>
	<p>Validation for min/max date. The min/max attribute will be used to construct the date object.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.myDate" class="form-control" min="{{data.min.toUTCString()}}" max="{{data.max.toUTCString()}}">
	<pre class="code" ng-non-bindable><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" min="Jan 1, 2010" max="Dec 31, 2019"&gt;</code></pre>

	<div class="form-group">
		<label>
			Min
			<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.min" class="form-control">
		</label>
	</div>

	<div class="form-group">
		<label>
			Max
			<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.max" class="form-control">
		</label>
	</div>

	<h3>Required</h3>
	<p>You won't be able to clear this field if required. You can still set the model value to null though.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.myDate" class="form-control" required>
	<pre class="code"><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" required&gt;</code></pre>

	<h3>Model format</h3>
	<p>You can use a date string instead of date object as model value.</p>
	<input type="text" class="form-control" datetime="medium" ng-model="data.myDateString" datetime-model="yyyy-MM-dd HH:mm:ss">
	<pre class="output">myDate = {{myDateString | json}}</pre>
	<pre class="code"><code>&lt;input type="text" datetime="medium" datetime-model="yyyy-MM-dd HH:mm:ss" ng-model="myDateString"&gt;</code></pre>

	<h3>Show UTC time</h3>
	<p>By the default, angular-datetime will format view value in local timezone. Add <code>datetime-utc</code> attribute to show UTC time to users.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="data.myDate" class="form-control" datetime-utc>
	<pre class="code"><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" datetime-utc&gt;</code></pre>

	<h3>Localizable formats</h3>
	<p>The parser supports localizable formats in angular.</p>
	<div class="form-group" ng-repeat="format in formats">
		<label>
			{{format}}
			<input type="text" datetime="{{format}}" class="form-control" ng-model="data.myDate">
		</label>
	</div>

	<h3>Other tests</h3>
	<div class="form-group">
		<label for="duplicate-name">Duplicate name test</label>
		<input type="text" datetime=",sss .sss" ng-model="data.myDate" class="form-control" id="duplicate-name">
	</div>
	<div class="form-group">
		<label>
			MySQL date part
			<input type="text" class="form-control" datetime="yyyy-MM-dd" ng-model="data.myDate">
		</label>
	</div>
</body>
</html>
