<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Angular Datetime</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

	<script src="https://code.angularjs.org/1.2.25/angular-animate.js"></script>

	<script src="datetime.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/eight04/end2end/master/dist/end2end.css">

	<script>
		angular.module("App", ["datetime"]).controller("myDate", function($scope, $filter, $locale){
			$scope.myDate = new Date();
			$scope.createDate = function(){
				return new Date();
			}
		});
	</script>

	<!--[if lt ie 9]>
	<script src="https://rawgit.com/scottjehl/Respond/master/dest/respond.src.js"></script>
	<![endif]-->
</head>
<body class="container container-sm" ng-controller="myDate">
	<h2>Angular Datetime <small>Demo Page</small></h2>
<!--
	<code>ngModel: {{myDate}}</code>
	<button class="btn-default" ng-click="myDate = createDate()">Set to now</button>
-->
	<p>To use the directive, add <code>datetime="date-format"</code> attribute to your input.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate" class="form-control">
	<pre class="code"><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate"&gt;</code></pre>

	<h3>Localizable formats</h3>
	<div class="form-group">
		<label for="medium">Medium</label>
		<input type="text" datetime="medium" ng-model="myDate" class="form-control" id="medium">
	</div>
	<div class="form-group">
		<label for="short">Short</label>
		<input type="text" datetime="short" ng-model="myDate" class="form-control" id="short">
	</div>
	<div class="form-group">
		<label for="fullDate">Full Date</label>
		<input type="text" datetime="fullDate" ng-model="myDate" class="form-control" id="fullDate">
	</div>
	<div class="form-group">
		<label for="longDate">Long Date</label>
		<input type="text" datetime="longDate" ng-model="myDate" class="form-control" id="longDate">
	</div>
	<div class="form-group">
		<label for="mediumDate">Medium Date</label>
		<input type="text" datetime="mediumDate" ng-model="myDate" class="form-control" id="mediumDate">
	</div>
	<div class="form-group">
		<label for="shortDate">Short Date</label>
		<input type="text" datetime="shortDate" ng-model="myDate" class="form-control" id="shortDate">
	</div>
	<div class="form-group">
		<label for="mediumTime">Medium Time</label>
		<input type="text" datetime="mediumTime" ng-model="myDate" class="form-control" id="mediumTime">
	</div>
	<div class="form-group">
		<label for="shortTime">Short Time</label>
		<input type="text" datetime="shortTime" ng-model="myDate" class="form-control" id="shortTime">
	</div>

	<pre class="code"><code>&lt;input type="text" datetime="medium" ng-model="myDate"&gt;
		&lt;input type="text" datetime="short" ng-model="myDate"&gt;
		&lt;input type="text" datetime="fullDate" ng-model="myDate"&gt;
		&lt;input type="text" datetime="longDate" ng-model="myDate"&gt;
		&lt;input type="text" datetime="mediumDate" ng-model="myDate"&gt;
		&lt;input type="text" datetime="shortDate" ng-model="myDate"&gt;
		&lt;input type="text" datetime="mediumTime" ng-model="myDate"&gt;
		&lt;input type="text" datetime="shortTime" ng-model="myDate"&gt;</code></pre>
</body>
</html>
