<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Angular Datetime</title>
	<script src="https://code.angularjs.org/1.2.28/angular.js"></script>

	<script src="https://code.angularjs.org/1.2.25/angular-animate.js"></script>

	<script src="dist/datetime.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/eight04/end2end/master/dist/end2end.css">

	<script>
		function shallow(o) {
			var o2 = {}, key;
			for (key in o) {
				o2[key] = o[key];
			}
			return o2;
		}
		angular.module("App", ["datetime"]).controller("myDate", function($scope, datetime, $locale){
			$scope.myDate = {
				demo: new Date,
				date: new Date,
				required: new Date,
				other: new Date,
				min: new Date(2010, 0, 1),
				max: new Date(2019, 11, 31)
			};
			$scope.formats = function(formats){
				var swap = [], format, code;
				for (format in formats) {
					code = format.charCodeAt(0)
					if (97 <= code && code <= 122) {
						swap.push(format);
					}
				}
				return swap;
			}($locale.DATETIME_FORMATS);
			$scope.reset = function(){
				$scope.myDate.demo = new Date;
				$scope.myDate.date = new Date;
				$scope.myDate.required = new Date;
				$scope.myDate.other = new Date;
			}
			$scope.clear = function(){
				$scope.myDate.demo = null;
				$scope.myDate.date = null;
				$scope.myDate.required = null;
				$scope.myDate.other = null;
			}
			var parser = datetime("yyyy-MM-dd");
		});
	</script>

	<!--[if lte ie 8]>
	<script src="https://rawgit.com/scottjehl/Respond/master/dest/respond.src.js"></script>
	<![endif]-->
</head>
<body class="container-sm" ng-controller="myDate">
	<h2>Angular Datetime <small>Demo Page</small></h2>
	<p>
		<button class="btn-default" ng-click="reset()">Reset</button>
		<button class="btn-default" ng-click="clear()">Clear</button>
	</p>
	<p>To use the directive, add <code>datetime="date-format"</code> attribute to your input.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate.demo" class="form-control">
	<pre class="code"><code>&lt;input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate"&gt;</code></pre>

	<h3>Min / Max</h3>
	<p>Validation for min/max date.</p>
	<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate.demo" class="form-control" min="{{myDate.min + ''}}" max="{{myDate.max + ''}}">

	<div class="form-group">
		<label>
			Min
			<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate.min" class="form-control">
		</label>
	</div>

	<div class="form-group">
		<label>
			Max
			<input type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="myDate.max" class="form-control">
		</label>
	</div>

	<h3>Localizable formats</h3>
	<div class="form-group" ng-repeat="format in formats">
		<label>
			{{format}}
			<input type="text" datetime="{{format}}" class="form-control" ng-model="myDate.date">
		</label>
	</div>

	<h3>Required</h3>
	<div class="form-group" ng-repeat="format in formats">
		<label>
			{{format}}
			<input type="text" datetime="{{format}}" class="form-control" ng-model="myDate.required" required>
		</label>
	</div>

	<h3>Other tests</h3>
	<div class="form-group">
		<label for="duplicate-name">Duplicate name test</label>
		<input type="text" datetime=",sss .sss" ng-model="myDate.other" class="form-control" id="duplicate-name">
	</div>
	<div class="form-group">
		<label>
			MySQL date part
			<input type="text" class="form-control" datetime="yyyy-MM-dd" ng-model="myDate.other">
		</label>
	</div>
</body>
</html>
